@import 'fumadocs-ui/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 38 36;
    --foreground: 195 192 182;
    --card: 38 38 36;
    --card-foreground: 250 249 245;
    --popover: 48 48 46;
    --popover-foreground: 229 229 226;
    --primary: 217 119 87;
    --primary-foreground: 255 255 255;
    --secondary: 250 249 245;
    --secondary-foreground: 48 48 46;
    --muted: 27 27 25;
    --muted-foreground: 183 181 169;
    --accent: 26 25 21;
    --accent-foreground: 245 244 238;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --border: 62 62 56;
    --input: 82 81 74;
    --ring: 217 119 87;
    --radius: 0.5rem;
  }

  body {
    background-color: rgb(38 38 36);
    color: rgb(195 192 182);
  }
}
