@import 'fumadocs-ui/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 24 75% 57%;
  --primary-foreground: 24 10% 98%;
  --accent: 24 75% 57%;
  --accent-foreground: 24 10% 98%;
  --ring: 24 75% 57%;
}

.dark {
  --primary: 24 75% 60%;
  --primary-foreground: 24 20% 10%;
  --accent: 24 75% 60%;
  --accent-foreground: 24 20% 10%;
  --ring: 24 75% 60%;
}
